body, html {
	margin: 0;
}

.editor {
	position: fixed;
	top: 0;
	left: 0;
	background: #eee;
	transform-origin: left top;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    padding: 10px
}